body {
	background-color: #232323;
	position: relative;
}

.square {
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

#title {
	color: white;
	text-align: center;
}

#navbar {
	color: white;
	text-align: center;
}

#stripe1 {
	background-color: grey;
	height: 5em;
}

#navbar {
	background-color: White;
}


#message {
	color: black;
} 